{{ define "main" }}
<div class="container py-5">
  <div class="row">
    <div class="col-12">
      <h1>{{ .Title }}</h1>
      <div class="content-disciplinas mt-4">
        {{ .Content }}
      </div>
    </div>
  </div>
</div>

<style>
.content-disciplinas {
  font-size: 1.1rem;
  line-height: 1.8;
}
.content-disciplinas ul {
  list-style-type: none;
  padding-left: 0;
}
.content-disciplinas li {
  margin-bottom: 1rem;
  padding-left: 1.5rem;
  text-indent: -1.5rem;
}
.content-disciplinas li:before {
  content: "▹";
  color: #6c5ce7;
  padding-right: 0.5rem;
}
.content-disciplinas a {
  color: #0984e3;
  text-decoration: none;
  border-bottom: 1px dashed #0984e3;
}
.content-disciplinas a:hover {
  color: #6c5ce7;
  border-bottom-style: solid;
}

</style>
{{ end }}
