{{ define "main" }}

<section class="site-blog-header">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <h1>{{ .Title }}</h1>
        <p>
          {{ .Params.description }}
        </p>
      </div>
    </div>
  </div>
</section>

<section class="site-blog">
  {{ partial "instafeed.html" . }}
  <div class="container">
    <div class="row"></div>
    
      <h5 class="justify-content-md-center">Mais novidades acesse nosso perfil <a href="https://www.instagram.com/pet.est.ufpr/" target="_blank">@pet.est.ufpr</a></h5>
    </div>
  </div>
</section>

<!-- {{ partial "call-to-action.html" . }} -->
<style>
  /* Para telas menores que 575px */
@media (max-width: 574px) {
  .site-blog-header {
    padding-top: 150px !important;
    min-height: auto !important;
  }
  
  .site-blog-header h1 {
    font-size: 1.8rem;
    margin-bottom: 15px;
  }
  
  .site-blog-header p {
    font-size: 0.9rem;
  }
}

/* Para telas entre 575px e 840px */
@media (min-width: 575px) and (max-width: 840px) {
  .site-blog-header {
    padding-top: 60px !important;
  }
}
</style>
{{ end }}

