.site-projetos{
  &-header{
    padding-top: 80px;
    background-color: $gray;
    @include mobile{
      padding-top: 60px;
      text-align: center;
    }
  }
  &-wrapper{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  &-company{
    background: $text-color-dark;
    width: 40%;
    padding: 70px 38px;
    @include desktop{
      width: 100%;
      margin-bottom: 20px;
    }
    h1{
      color: $white;
      font-weight: 600;
      font-size: 50px;
      line-height: 60px;
      text-transform: uppercase;
      letter-spacing: 1px;
    }
  }
  &-titulo{
    text-align: left;
    h3{
      color: $black;
      font-weight: 400;
      font-size: 25px;
      line-height: 60px;
      text-transform: uppercase;
      letter-spacing: 1px;
    }
  }
  &-description{
    width: 100%;
    padding-left: 0px;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    @include desktop{
      width: 100%;
      padding: 0 38px;
    }
    p{
      font-size: 20px;
      font-weight: 300;
      margin-bottom: 0;
      color: black !important;
    }
  }
  &-texto{
    width: 100%;
    padding-left: 0px;
    margin-top: 20px;
    text-align: left;
    @include desktop{
      width: 100%;
      padding: 0 38px;
    }
    p{
      font-size: 20px;
      font-weight: 300;
      margin-bottom: 0;
      color: black !important;
    }
  }
  &-espaco {
    margin-top: 100px;
  }
}