{{ define "main" }}

{{ partial "counter.html" . }}

{{ partial "hero.html" . }}

<!--{{ partial "portfolio.html" . }}-->

<!--{{ partial "testimonial.html" . }}-->

<!-- {{ partial "cta-popup.html" . }} -->

{{ partial "cta-banner.html" . }}

{{ partial "call-to-action.html" . }}

  <!-- Chamando os cards de eventos - mostra 3 cards -->
  {{ partial "eventos-cards.html" (dict 
    "site" .Site 
    "max" 3 
    "title" "Próximos Eventos"
    "showViewAllLink" true
  ) }}
 <!-- Adicione a seção de últimos materiais -->
  {{ partial "ultimos-materiais.html" (dict 
    "site" .Site 
    "max" 3
    "title" "Últimos Materiais Adicionados"
    "showViewAllLink" true
  ) }}
{{ partial "youtube-home.html" . }}

{{ partial "sobre_pet.html" . }}

{{ end }}
