{{ define "main" }}
<section class="section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <div class="alert alert-success mb-5">
          <br>
          <i class="fa fa-check-circle fa-3x mb-4"></i>
          <h1 class="mb-3">{{ .Title }}</h1>
          </div>
          <div class="content">
            {{ .Content }}
          </div>
          <a href="{{ .Site.BaseURL }}" class="btn btn-primary mt-4">
            <i class="fa fa-arrow-left mr-2"></i>Voltar à página inicial
          </a>
        </div>

    </div>
  </div>
</section>
{{ end }}
