{{ define "main" }}

<section class="site-projetos-header">
  <div class="container">
    <div class="row">
      <div class="site-projetos-espaco"></div>
      <div class="col-12">
        <div class="site-projetos-wrapper">
          <div class="site-projetos-description">
            <h3>
              {{ .Description }}
            </h3>
          </div>
          <div class="site-projetos-texto">
            <ul>
              {{ range .Params.proj1 }}
                <a href="/_book"><li>{{ .title }}</li></a>
              {{ end }}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
<div class="site-projetos-espaco"></div>
</section>

<!--{{ partial "clients.html" . }}

{{ partial "team.html" . }}

{{ partial "call-to-action.html" . }}
-->
{{ end }}