{{ $arquivo := .Get "arquivo" }}
{{ $tipo := .Get "tipo" }}
{{ $descricao := .Get "descricao" }}
{{ $autor := .Get "autor" }}
{{ $url_autor := .Get "url_autor" }}

<div class="material-item">
  <a href="{{ $arquivo }}" class="material-link" target="_blank">
    {{ $tipo }} - {{ $descricao }}
  </a>
  {{ with $autor }}
  <small class="material-autor">
    Por: 
    {{ with $url_autor }}
      <a href="{{ . }}" class="autor-link">{{ $autor }}</a>
    {{ else }}
      {{ $autor }}
    {{ end }}
  </small>
  {{ end }}
</div>